/* contentsWidget.css */

		#template {
			display: none;
		}
		#contentWidget {
			font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
			font-size: 18px; 
			font-weight: normal; 
			line-height: 27px;
		}
		button {
			background-color: white;
			cursor: pointer;
			border: none;
			padding-bottom: 0;
			outline: none;
			font-size: inherit;
			font-weight: inherit; 
			font-family: inherit;
			vertical-align: bottom;
		}
		.SectionTitle {
			margin-bottom: 10px;
		}
		.SectionContainerBtn {
			color: #3399bb;
			font-size: 150%; 
			font-weight: bold;  
		}
		.SectionSummaryBtn {
			cursor: pointer;
			height: 20px;
			vertical-align: bottom;
		}
		.SectionSummary {
			margin-left: 50px;
			margin-bottom: 10px;
		}
		.SectionContainer {
			margin-left: 20px;
		}
		.ChapterTitle {
			margin-bottom: 10px;
		}
		.ChapterContainerBtn {
			font-size: 120%; 
			font-weight: bold;  
		}
		.ChapterSummaryBtn {
			cursor: pointer;
			height: 20px;
			vertical-align: bottom;
		}
		.ChapterSummary {
			margin-left: 50px;
			margin-bottom: 10px;
		}
		.ChapterContainer {
			margin-left: 20px;
			margin-bottom: 30px;
		}

		.SceneUnit {
			margin-bottom: 20px;
		}
		.SceneTitle {
			padding-top: 5px;
			padding-bottom: 2px;
			border-color:grey;
			border-top-style: solid; 
			border-top-width: thin;
		}
		.SceneContainerBtn {
			padding-left: 0px;
			float: left;
			width: 50%;
			white-space: nowrap;
			text-align: left;
		}
		.SceneUpdatedDate {
			padding-top: 2px;
			float: left;
			white-space: nowrap;
		}
		.SceneNumComments {
			padding-top: 2px;
			float: right;
			white-space: nowrap;
		}
		.SceneContainer {
			/* font-family: Georgia,Times,Times New Roman,serif; */
			font-family: lyontext-regular, georgia; 
			/* font-size: 120%; */
			margin-top: 20px;
			margin-left: 30px;
			clear: both;
		}
