/* contents.css */

/*---- Section --------------------------------------*/

.SectionTitle{
	padding-top: 5px;
	color: #3399bb;
}

.SectionTitleBtn {
	background-color: white;
	color: #3399bb;
	padding-left: 0px;
	padding-bottom: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}	
		
.SectionTitleSpan {
	background-color: white;
	color: #3399bb;
	font-size: 14px; 
	font-weight: bold;  
	padding-left: 0px;
	padding-bottom: 5px;
	border: none;
}	

.SectionDescripBtn {
	background-color: white;
	font-weight: bold;  
	cursor: pointer;
	border: none;
	outline: none;
}

.SectionDescrip {
	font-size: 13px;    
	margin-left: 20px;
	margin-bottom: 20px;
}

.SectionContainer {
	margin-left: 10px;
}

/*---- Chapter --------------------------------------*/

.ChapterTitle{
	padding-top: 5px;
}

.ChapterTitleBtn {
	background-color: white;
	padding-left: 0px;
	padding-bottom: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}	
		
.ChapterTitleSpan {
	background-color: white;
	color:black;
	font-size: 13px; 
	font-weight: bold;  
	padding-left: 0px;
	padding-bottom: 5px;
	border: none;
}	

.ChapterDescripBtn {
	background-color: white;
	font-weight: bold;  
	cursor: pointer;
	border: none;
	outline: none;
}

.ChapterDescrip {
	font-size: 13px;    
	margin-left: 20px;
	margin-bottom: 20px;
}

.ChapterContainer {
	margin-left: 10px;
}

/*---- Scene --------------------------------------*/

.SceneTitle {
	padding-top: 5px;
	padding-bottom: 2px;
	border-color:grey;
	border-top-style: solid; 
	border-top-width: thin;
}

.SceneTitleBtn {
	background-color: white;
	font-weight: normal;  
	padding-left: 0px;
	padding-bottom: 5px;
	cursor: pointer;
	border: none;
	text-align: center;
	outline: none;
}

.SceneTitleSpan {
	background-color: white;
	color: black;
	display: inline-block;
	width: 260px;
	font-size: 13px; 
	font-weight: normal;  
	padding-left: 0px;
	padding-bottom: 5px;
	border: none;
}	

.SceneDescripBtn {
	background-color: white;
	cursor: pointer;
	border: none;
	outline: none;
}

.SceneDescrip {
	font-size: 13px;    
	margin-left: 20px;
	margin-bottom: 20px;
}

.SceneContainer {
	font-family: Georgia,Times,Times New Roman,serif;  
	font-size: 13px;    
	margin-left: 10px;
	margin-bottom: 20px;
}

.SceneUpdated {
	position: relative;
}

.SceneCommentLink {
	font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	font-size: 12px;
	float: right;
}

.SceneNumComments {
	font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	font-size: 12px;
	float: right;
}

/*---- Item --------------------------------------*/

.ItemTitle {
	padding-top: 5px;
	padding-bottom: 2px;
	border-color:grey;
	border-top-style: solid; 
	border-top-width: thin;
}

.ItemTitleBtn {
	width: 20px;
	background-color: white;
	font-weight: normal;  
	padding-left: 0px;
	padding-bottom: 5px;
	cursor: pointer;
	border: none;
	text-align: center;
	outline: none;
}

.ItemTitleSpan {
	background-color: white;
	color: black;
	font-size: 14px; 
	font-weight: bold;  
	padding-left: 0px;
	padding-bottom: 5px;
	border: none;
}	

.ItemDescripBtn {
	background-color: white;
	font-weight: bold;  
	cursor: pointer;
	border: none;
	outline: none;
}

.ItemDescrip {
	font-style: italic;
	margin-left: 20px;
	margin-bottom: 20px;
}

.ItemContainer {
	font-family: Georgia,Times,Times New Roman,serif;  
	font-size: 13px;    
	font-weight: normal;  
	margin-left: 10px;
	margin-bottom: 20px;
}

.ItemUpdated {
	font-size: 12px;
	font-weight: normal;  
	float: right;
}

/*---- Misc --------------------------------------*/

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;        
}

.ChapterUL {
	padding-inline-start: 20px;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.SceneUL {
	padding-inline-start: 20px;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.shortcutSectionBtn {
	color: #3399bb;
	background-color: white;
	font-weight: bold;  
	font-size: 12px;
	line-height: 1.6;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
}
 
.shortcutChapterBtn {
	background-color: white;
	font-weight: bold;  
	font-size: 10px;
	line-height: 1.6;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
}

.shortcutSceneBtn {
	background-color: white;
	font-weight: normal;  
	font-size: 10px;
	line-height: 1.6;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
}

.book-contents {
	float: left;
	width: 550px;


.book-body {
	padding-right: 20px;
	overflow-y: auto;
}

.book-shortcuts {
	float: left;
	width: 240px;
	padding-left: 15px;
}

.contents-header {
	color: #3399bb; 
	font-size: 18px; 
	font-weight: bold; 
	padding-left: 0px;
	padding-bottom: 20px;
}

.shortcuts-header {
	color: #3399bb; 
	font-size: 18px; 
	font-weight: bold; 
	padding-left: 0px;
	padding-bottom: 20px;
}

.shortcuts-body {
	padding-right: 20px;
	overflow-y: auto;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;        
}

.chkExpandContract {
	color: black; 
	font-size: 10px; 
	font-weight: normal; 
	padding-right: 40px;
	padding-top: 10px;
}
