body .navbar {
	height: 0;
}	
.header-inner .Header .descriptionwrapper {
	margin-bottom: 5px;
}
.Header .description {
	color: #777777;
}
.backgroundPages {
	color: #777777;
}

@media only screen and (orientation: portrait) {

	.q1 {
		background-color: Aquamarine;
	}

	body {
		padding: 0;
	}

	.Header h1 {
		font-size: 5rem;
	}
	.Header .description {
		font-size: 3rem;
	}
	.backgroundPages {
		font-size: 3rem;
	}
	.aboutPages {
		font-size: 3rem;
	}
    
      	.content-outer, .content-fauxcolumn-outer, .region-inner {
        	min-width: 1100px;
        	max-width: 1100px;
        	_width: 1100px;
      	}
         
	.main-inner .columns {
		padding-right: 0px;
	}

	.main-inner .fauxcolumn-center-outer {
		right: 0px;
	}

	.main-inner .fauxcolumn-right-outer {
		width: 0px;
	}
      
	.column-right-outer {
		display: none;
	}
      
	.post-body {
		font-size: 2rem;
	}

	.widget-content-HTML1 {
		display: block;
	}
      
	.widget-content-HTML2 {
		display: block;
	}
}

@media only screen and (orientation: landscape) {

	.q1 {
		background-color: blue;
	}

	body {
		min-width: $(content.width);
		padding: 0 $(content.shadow.spread) $(content.shadow.spread) $(content.shadow.spread);
	}
		
	.Header h1 {
		font-size: 5rem;
	}
	.Header .description {
		font-size: 3rem;
	}
	.backgroundPages {
		font-size: 3rem;
	}
	.aboutPages {
		font-size: 3rem;
	}
      
	.content-outer, .content-fauxcolumn-outer, .region-inner {
		min-width: $(content.width);
		max-width: $(content.width);
		_width: $(content.width);
	}
         
	.main-inner .columns {
		padding-right: 260px;
	}

	.main-inner .fauxcolumn-center-outer {
		right: 260px;
	}

	.main-inner .fauxcolumn-right-outer {
		width: 260px;
	}
      
	.column-right-outer {
		display: block;
	}

	.widget-content-HTML1 {
		display: none;
	}
      
	.widget-content-HTML2 {
		display: none;
	}
}
