:root {
	font-size: 6px;
}

#template {
	display: none;
}

/* hide the right column, show gadgets in the footer */
.main-inner .columns {
	padding-right: 0px;
}

.main-inner .fauxcolumn-center-outer {
	right: 0px;
}

.main-inner .fauxcolumn-right-outer {
	width: 0px;
}

.column-right-outer {
	display: none;
}

.widget-content-HTML1 {	/* footer links widget */
	display: block;
}

.widget-content-HTML2 {	/* footer subscribe widget */
	display: block;
}

.SceneUpdatedDate {
	display:none;
}


@media only screen and (orientation: portrait) {

	.q1 {
		background-color: Aquamarine;
	}

	:root {
		font-size: calc(6px * 3);
	}

	table {
		font-size: 30px;	
	}

	body {
		padding: 0;
	}
  
      	.content-outer, .content-fauxcolumn-outer, .region-inner {
        	min-width: 100%;
        	max-width: 100%;
        	_width: 100%;
      	}
		
	#titleLogo {
		display: block;
		width: 9rem;
	}
	
     	#titleCell {
     		width: 50%;      
     	}	
}

@media only screen and (orientation: landscape) {

	.q1 {
		background-color: blue;
	}
     
	:root {
		font-size: calc(6px * 2);
	}
	
	table {
		font-size: 22px;	
	}

	.content-outer, .content-fauxcolumn-outer, .region-inner {
		min-width: 75vw;	/* 75% of viewport width */
		max-width: 75vw;
		_width: 75vw;
	}
	
	#titleLogo {
		display: none;
	}
	
     	#titleCell {
     		width: 80%;      
     	}
}
