
body .navbar {
	height: 0;
}	

/*
.header-inner .Header .descriptionwrapper {
	margin-bottom: 5px;
}
.Header h1 {
	font-size: 60px;
}
.Header .description {
	font-size: 20px;	/* 12px * 160% */
	color: #777777;
}
.backgroundPages {
	font-size: 20px;	/* 12px * 160% */
	color: #777777;
}
.aboutPages {
	font-size: 20px;	/* 13.3333px * 144% */
}
*/


	:root {
	  --base-font-size: 6px;
	}




@media only screen and (orientation: portrait) {

	
	.q1 {
		background-color: pink;
	}

	body {
		padding: 0;
	}

	

	.Header h1 {
		font-size: 4rem
	}
	.Header .description {
		font-size: 3rem;
	}
	.backgroundPages {
		font-size: 2rem;
	}
	.aboutPages {
		font-size: 2rem;
	}
	
}

@media only screen and (orientation: landscape) {

	.q1 {
		background-color: red;
	}
	
	.Header h1 {
		font-size:calc(var(--base-font-size) * 4);
	}
	.Header .description {
		font-size: 3rem;
	}
	.backgroundPages {
		font-size: 2rem;
	}
	.aboutPages {
		font-size: 2rem;
	}

}
