body .navbar {
	height: 0;
}	
	
.backgroundPages {
	font: normal normal 26px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
      
.aboutPages {
	font: normal normal 26px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}


@media only screen and (orientation: portrait) {

	.q1 {
		background-color: pink;
	}

	body {
		padding: 0;
	}
}

@media only screen and (orientation: landscape) {

	.q1 {
		background-color: red;
	}
}
