@media only screen and (orientation: portrait) {
	.q1 {
		background-color: cyan;
	}
	.body {
		/* background-image: none;	*/
        	min-width: $(content.width);
	}
}
 
@media only screen and (orientation: landscape) {
	.q1 {
		background-color: blue;
	}
	.body {
		/* background-image: none;	*/
        	min-width: $(content.width);
	}
}
