body .navbar {
	height: 0;
}	

.Header .description {
	/* font: normal normal 20px Arial, Tahoma, Helvetica, FreeSans, sans-serif; */
	font-size: 200%;
	color: #777777;
}

.header-inner .Header .descriptionwrapper {
	margin-bottom: 5px;
}

.backgroundPages {
	font: normal normal 20px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #777777;
}
      
.aboutPages {
	font: normal normal 20px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}


@media only screen and (orientation: portrait) {

	.q1 {
		background-color: pink;
	}

	body {
		padding: 0;
	}
}

@media only screen and (orientation: landscape) {

	.q1 {
		background-color: red;
	}
}
